<h1>Hotline Bling</h1>

<div class="container">
  <div class="row">
  
    <div class="five columns" id="new_contact" >
      <fieldset>
        <legend>New Contact</legend>
        <input type="text" id="firstname" placeholder="First Name"><br>
        <input type="text" id="lastname" placeholder="Last Name"><br>
        <input type="text" id="email" placeholder="Email Address"><br>
        <button id="create_contact">Create Contact</button><br>
      </fieldset>
    </div>

    <div class="seven columns" id="see_contacts">
      <button id="load_contacts">See All Contacts</button>
          <table id="contacts">
            <thead>
            <tr>
             <th>First Name</th>
             <th>Last Name</th>
             <th>Email</th>
           </tr>
           </thead>
           <tbody>
           </tbody>
          </table>  
    </div>
  </div>
</div>